.bar {
    background-image: linear-gradient(to left, rgb(139, 20, 20), rgba(0,0,0,1));
    text-align: left;
    position: relative;
    /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2); */
}

h1 {
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    margin-left: 55px;
    margin-top: 25px;
    text-shadow: -10px -2px 20px rgba(0, 0, 0, 1);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

h1:hover, h1:focus {
    transform: translate(0, -5px) scale(1.05);
}

.header {
    height: 110px;
    border-radius: 50%;
}

.tab-container {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 70%;
    max-width: 500px;
}

.tab {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 12px 12px 0 0;
    width: 45%;
    margin-right: 2%;
    transition: all ease-in-out 0.12s;
    cursor: pointer;
    box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-shadow: -10px -2px 20px rgba(0, 0, 0, 1);
}

.tab-text {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 20px;
}

.tab:hover, .tab:focus, .selected {
    transform: translate(0, -0.6px) scale(1.04);
    background-color: rgb(215, 215, 215);
    box-shadow: 5px -10px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    text-shadow: -10px -2px 20px rgba(0, 0, 0, 0.5);
}